.cart-image-container {
  width: 200px;
  height: 200px;
}

.cart-image {
  width: 100%;
  height: 100%;
}
.cart-description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.remove-from-cart {
  width: fit-content;
  min-width: 150px;
  padding: 3px 10px;
  word-wrap: normal;
}

.quantity-input {
  width: 100px !important;
}

.cart-detail {
  position: relative;
}

.quantity-row {
  position: absolute;
  bottom: 10px;
  left: 0;
}
