.cart-image-container {
  width: 200px;
  height: 200px;
}

.cart-image {
  width: 100%;
  height: 100%;
}
.cart-description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.decrease-btn,
.increase-btn,
.quantity {
  padding: 3px 15px;
  border: 1px solid grey;
  outline: none;
  box-shadow: none;
}

.cart-detail {
  position: relative;
}

.quantity-row {
  position: absolute;
  bottom: 10px;
  left: 0;
}
