.register-page {
  width: 33%;
  height: fit-content;
  margin: auto;
  border: 1px solid black;
  padding: 40px;
  background-color: rgb(249, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 104%), 0 0px 3px 0 rgba(0, 0, 0, 103%);
}
.form-group {
  padding: 0px;
}
