.cart-icon {
  width: 35px;
  height: 35px;
}
.navbar {
  background-color: rgb(240, 123, 123);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 104%), 0 0px 1px 0 rgba(0, 0, 0, 103%);
}
/* .btn, */
/* .form-control { */
/* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 104%), 0 0px 1px 0 rgba(0, 0, 0, 103%); */
/* } */
.offer-page {
  background-color: rgb(250, 192, 192);
}
